Automat==22.10.0
Babel==2.10.3
astroid==3.0.2
attrs==23.2.0
bcc==0.1.10
bcrypt==3.2.2
beautifulsoup4
blinker==1.7.0
boto3==1.34.46
botocore==1.34.46
certifi==2023.11.17
chardet==5.2.0
click==8.1.6
cloud-init==24.4
colorama==0.4.6
command-not-found==0.3
configobj==5.0.8
constantly==23.10.4
cryptography==41.0.7
dbt-core
dbt-snowflake
dbus-python==1.3.2
dill==0.3.8
distro==1.9.0
distro-info==1.7+build1
ec2-hibinit-agent==1.0.0
hibagent==1.0.1
html5lib
httplib2==0.20.4
hyperlink==21.0.0
idna==3.6
importlib-metadata==4.12.0
incremental==22.10.0
lxml
pylint==3.0.3
pytest==7.4.4
PyJWT==2.7.0
pyOpenSSL==23.2.0
pyparsing==3.1.1
pyserial==3.5
pytransitions==0.20.0
python-apt==2.7.7+ubuntu4
python-dateutil==2.8.2
python-debian==0.1.49+ubuntu2
python-magic==0.4.27
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
rich==13.7.1
s3transfer==0.10.1
service-identity==24.1.0
setuptools==68.1.2
six==1.16.0
sos==4.7.2
ssh-import-id==5.11
systemd-python==235
toml==0.10.2
tomli==2.0.1
Twisted==24.3.0
typing_extensions==4.10.0
ubuntu-pro-client==8001
ufw==0.36.2
unattended-upgrades==0.1
urllib3==2.0.7
w3m==0.5.3
wheel==0.42.0
zipp==1.0.0
zope.interface==6.1
